*#JDEVADF_*
*.DS_Store
*.bak
*.cdi
*.client_contrib
*.contrib*
*.generated.java
*.ignore
*.keep
*.labellog.emd
*.mv.*
*.rename.*
*.rvi
*.saved.*
*.scc
*.sync.*
*.unbranch.*
*.unco.*
*.unmkelem.*
*~
.#*
.*.cs
.ade_path
.data
.depprod
.depprod_nt
.do_pool
.fullsource
.fullsource_nt
.svn
CVS

*.log
*.tmp
*.lck
tmp
temp
classes
.sonar
